In [9]:
import pandas_datareader as pdr
import pandas as pd
from datetime import datetime

In [21]:
# import yfinance as yf
# yf.pdr_override()
# data = pdr.get_data_yahoo("SPY",start="2007-01-01",end="2007-12-31")

In [32]:
import yfinance as yf

# Define the stock symbol and the date range
symbol = 'TSLA'
start_date = '2017-01-01'
end_date = '2023-08-12'

# Fetch the stock data
data = yf.download(symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [34]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-07,251.449997,253.649994,242.759995,251.449997,251.449997,111097900
2023-08-08,247.449997,250.919998,245.009995,249.699997,249.699997,96642200
2023-08-09,250.869995,251.100006,241.899994,242.190002,242.190002,101596300
2023-08-10,245.399994,251.800003,243.000000,245.339996,245.339996,109498600
2023-08-11,241.770004,243.789993,238.020004,242.649994,242.649994,98866600