In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder






X_train

,Age,Gender,A/L Stream,Career Aspirations,Personal Interests,Location,Financial Resources,Family Background,Extracurricular Activities
7,22,Female,Arts,Writer,Language,Jaffna,Low-income,First-generation,"Debate team, Poetry club"
2,18,Male,Commerce,Businessman,Economics,Galle,High-income,Business family,"Cricket team, Volunteering"
4,21,Male,Bio,Doctor,Biology,Colombo,Middle-class,Educated parents,"Basketball team, Music"
3,20,Female,Arts,Artist,Literature,Jaffna,Low-income,Educated parents,"Theater club, Poetry club"
6,18,Male,Commerce,Accountant,Accounting,Galle,High-income,Business family,"Basketball team, Volunteering"

In [43]:
# Load the dataset
df = pd.read_csv("sample_dataset.csv")

In [44]:
# Split the dataset into features (independent variables) and label (dependent variable)
# X = df.drop(columns=['Degree Program'])
# y = df['Degree Program']

In [45]:
# One-hot encode the categorical variables
# encoder = OneHotEncoder()
# X_encoded = pd.DataFrame(encoder.fit_transform(X[['Gender', 'A/L Stream', 'Location']]).toarray(), columns=encoder.get_feature_names(['Gender', 'A/L Stream', 'Location']))
# X = X.drop(columns=['Gender', 'A/L Stream', 'Location'])
# X = pd.concat([X, X_encoded], axis=1)

# # Encode the 'Degree Program' column to numeric format
# label_encoder = LabelEncoder()
# y = label_encoder.fit_transform(y)

In [46]:
cols = ['Age','Gender','A/L Stream','Career Aspirations','Personal Interests','Location','Financial Resources','Family Background','Extracurricular Activities','Degree Program']
df[cols] = df[cols].apply(LabelEncoder().fit_transform)
df.head()

,Age,Gender,A/L Stream,Career Aspirations,Personal Interests,Location,Financial Resources,Family Background,Extracurricular Activities,Degree Program
0,1,0,3,3,4,0,2,1,4,6
1,4,1,1,4,2,3,1,2,2,2
2,0,1,2,2,3,1,0,0,3,1
3,2,0,0,1,6,2,1,1,7,5
4,3,1,1,3,1,0,2,1,0,6

In [ ]:
x = df[['Age','Gender','A/L Stream','Career Aspirations','Personal Interests','Location','Financial Resources','Family Background','Extracurricular Activities']].values


y = df['Degree Program'].values

In [47]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [48]:
X_train

,Age,Gender,A/L Stream,Career Aspirations,Personal Interests,Location,Financial Resources,Family Background,Extracurricular Activities
7,22,Female,Arts,Writer,Language,Jaffna,Low-income,First-generation,"Debate team, Poetry club"
2,18,Male,Commerce,Businessman,Economics,Galle,High-income,Business family,"Cricket team, Volunteering"
4,21,Male,Bio,Doctor,Biology,Colombo,Middle-class,Educated parents,"Basketball team, Music"
3,20,Female,Arts,Artist,Literature,Jaffna,Low-income,Educated parents,"Theater club, Poetry club"
6,18,Male,Commerce,Accountant,Accounting,Galle,High-income,Business family,"Basketball team, Volunteering"

In [49]:
# Create a k-nearest neighbors classifier with k=3
knn = KNeighborsClassifier(n_neighbors=3)

# Fit the classifier to the training data
knn.fit(X_train, y_train)

# Predict the labels for the testing data
y_pred = knn.predict(X_test)

# Calculate the accuracy of the classifier on the testing data
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ValueError: could not convert string to float: 'Female'