In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from prophet import Prophet

df = pd.read_csv("cleaned_aus.csv",index_col=[0])
df = df.drop('Location', axis=1)

In [76]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
47506,2013-05-01,5.3,21.2,0.0,2.0,6.092287,WNW,48.000000,W,W,...,92.000000,34.0,1020.500000,1017.2,5.000000,8.000000,11.600000,18.6,No,No
47507,2013-05-02,0.4,17.0,0.0,3.8,10.915243,NW,36.947751,S,E,...,50.000000,23.0,1027.100000,1025.7,1.000000,2.375125,10.400000,16.7,No,No
47508,2013-05-03,-0.9,20.2,0.0,3.2,10.673899,NW,41.934742,NNE,NNW,...,80.000000,24.0,1027.300000,1020.8,2.000000,1.457263,6.900000,19.2,No,No
47509,2013-05-04,6.9,23.8,0.0,3.8,12.239583,WNW,48.000000,NNW,WNW,...,60.297905,11.0,1020.081274,1017.9,1.609229,1.948236,13.656393,22.2,No,No
47510,2013-05-05,-1.2,16.0,0.0,5.0,10.545751,ESE,28.000000,SSE,SSW,...,52.000000,27.0,1026.500000,1022.4,0.000000,2.305342,8.400000,15.1,No,No

In [77]:
df.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [85]:
import pandas as pd
from prophet import Prophet
from sklearn.preprocessing import OneHotEncoder

# df = pd.read_csv("cleaned_aus.csv",index_col=[0])
# df = df.drop('Location', axis=1)

# # Select relevant columns
# columns = ['Date', 'Rainfall', 'MinTemp', 'MaxTemp', 'Evaporation', 'Sunshine',
#            'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
#            'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
#            'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
#            'Temp3pm', 'RainToday', 'RainTomorrow']

# data = data[columns]

# # Convert 'Date' column to datetime
# data['Date'] = pd.to_datetime(data['Date'])

# # Handle categorical data using one-hot encoding
# categorical_columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

# # Initialize the OneHotEncoder with 'handle_unknown' parameter
# encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# encoded_categories = encoder.fit_transform(data[categorical_columns])

# # Get the column names for the encoded features
# encoded_columns = encoder.get_feature_names_out(categorical_columns)

# # Create a DataFrame with the encoded data and columns
# encoded_data = pd.DataFrame(encoded_categories, columns=encoded_columns)

# # Merge encoded categorical data with the main DataFrame
# prophet_data = pd.concat([data[['Date', 'Rainfall']], encoded_data], axis=1)

# prophet_data.reset_index(drop=True)

# # Rename columns to match Prophet's expected column names
# prophet_data.rename(columns={'Date': 'ds', 'Rainfall': 'y'}, inplace=True)

# # Initialize and fit the Prophet model
# model = Prophet()
# for col in encoded_columns:
#     model.add_regressor(col)
    
# model.fit(prophet_data)

# # Make a future DataFrame for forecasting
# future = model.make_future_dataframe(periods=365)  # Forecast for one year

# # Add regressors to the future DataFrame
# future = pd.concat([future, encoded_data], axis=1)

# # Make predictions
# forecast = model.predict(future)

# # Plot the forecast
# fig = model.plot(forecast)

# # You can also plot components like trend and seasonality
# fig2 = model.plot_components(forecast)

In [86]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Assuming 'Date' is a column in your DataFrame 'df'
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

categorical_columns = df.select_dtypes(include=['object']).columns

# Apply label encoding to each categorical column
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

In [87]:
categorical_columns

Index([], dtype='object')

In [88]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
47506,2013-05-01,5.3,21.2,0.0,2.0,6.092287,14,48.000000,13,13,...,92.000000,34.0,1020.500000,1017.2,5.000000,8.000000,11.600000,18.6,0,0
47507,2013-05-02,0.4,17.0,0.0,3.8,10.915243,7,36.947751,8,0,...,50.000000,23.0,1027.100000,1025.7,1.000000,2.375125,10.400000,16.7,0,0
47508,2013-05-03,-0.9,20.2,0.0,3.2,10.673899,7,41.934742,5,6,...,80.000000,24.0,1027.300000,1020.8,2.000000,1.457263,6.900000,19.2,0,0
47509,2013-05-04,6.9,23.8,0.0,3.8,12.239583,14,48.000000,6,14,...,60.297905,11.0,1020.081274,1017.9,1.609229,1.948236,13.656393,22.2,0,0
47510,2013-05-05,-1.2,16.0,0.0,5.0,10.545751,2,28.000000,10,11,...,52.000000,27.0,1026.500000,1022.4,0.000000,2.305342,8.400000,15.1,0,0

In [90]:
prophet_data = df[['Date', 'Rainfall']].rename(columns={'Date': 'ds', 'Rainfall': 'y'})

In [101]:
# Initialize the Prophet model
m = Prophet()

In [102]:
m.add_regressor('MinTemp')

In [92]:
from prophet import Prophet


# Split the data into training and test sets (using the last 365 days as test data)
train_data = prophet_data[:-365]
test_data = prophet_data[-365:]

# Display the first few rows of the training data
train_data.head()

              ds    y
47506 2013-05-01  0.0
47507 2013-05-02  0.0
47508 2013-05-03  0.0
47509 2013-05-04  0.0
47510 2013-05-05  0.0

In [97]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
47506,2013-05-01,5.3,21.2,0.0,2.0,6.092287,14,48.000000,13,13,...,92.000000,34.0,1020.500000,1017.2,5.000000,8.000000,11.600000,18.6,0,0
47507,2013-05-02,0.4,17.0,0.0,3.8,10.915243,7,36.947751,8,0,...,50.000000,23.0,1027.100000,1025.7,1.000000,2.375125,10.400000,16.7,0,0
47508,2013-05-03,-0.9,20.2,0.0,3.2,10.673899,7,41.934742,5,6,...,80.000000,24.0,1027.300000,1020.8,2.000000,1.457263,6.900000,19.2,0,0
47509,2013-05-04,6.9,23.8,0.0,3.8,12.239583,14,48.000000,6,14,...,60.297905,11.0,1020.081274,1017.9,1.609229,1.948236,13.656393,22.2,0,0
47510,2013-05-05,-1.2,16.0,0.0,5.0,10.545751,2,28.000000,10,11,...,52.000000,27.0,1026.500000,1022.4,0.000000,2.305342,8.400000,15.1,0,0

In [95]:
from prophet import Prophet

# Initialize the Prophet model
model = Prophet()

# Add the one-hot encoded columns (and any other relevant numerical columns) as regressors
regressor_columns = [col for col in train_data.columns if 'WindGustDir' in col] + \
                    [col for col in train_data.columns if 'WindDir9am' in col] + \
                    [col for col in train_data.columns if 'WindDir3pm' in col] + \
                    ['MinTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am', 
                     'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 
                     'Pressure3pm', 'Temp9am', 'Temp3pm']

for column in regressor_columns:
    model.add_regressor(column)

In [104]:
# Train the model
model.fit(train_data)

# Make predictions
future = model.make_future_dataframe(periods=365)
forecast = model.predict(pd.concat([train_data, test_data]))

# # Plot actual vs predicted
# plt.figure(figsize=(15, 7))
# plt.plot(prophet_data['ds'], prophet_data['y'], label='Actual')
# plt.plot(forecast['ds'], forecast['yhat'], label='Predicted')
# plt.legend()
# plt.title('Actual vs Predicted Rainfall')
# plt.show()
# Replace 'path_to_your_data.csv' with the path to your dataset. Running this code locally should allow you to train the Prophet model, make predictions, and visualize the results.

ValueError: Regressor 'MinTemp' missing from dataframe

In [82]:
categorical_columns

Index(['WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow'], dtype='object')

In [83]:
prophet_data.isnull().sum()

ds                 0
y                  0
WindGustDir_E      0
WindGustDir_ENE    0
WindGustDir_ESE    0
WindGustDir_N      0
WindGustDir_NE     0
WindGustDir_NNE    0
WindGustDir_NNW    0
WindGustDir_NW     0
WindGustDir_S      0
WindGustDir_SE     0
WindGustDir_SSE    0
WindGustDir_SSW    0
WindGustDir_SW     0
WindGustDir_W      0
WindGustDir_WNW    0
WindGustDir_WSW    0
WindDir9am_E       0
WindDir9am_ENE     0
WindDir9am_ESE     0
WindDir9am_N       0
WindDir9am_NE      0
WindDir9am_NNE     0
WindDir9am_NNW     0
WindDir9am_NW      0
WindDir9am_S       0
WindDir9am_SE      0
WindDir9am_SSE     0
WindDir9am_SSW     0
WindDir9am_SW      0
WindDir9am_W       0
WindDir9am_WNW     0
WindDir9am_WSW     0
WindDir3pm_E       0
WindDir3pm_ENE     0
WindDir3pm_ESE     0
WindDir3pm_N       0
WindDir3pm_NE      0
WindDir3pm_NNE     0
WindDir3pm_NNW     0
WindDir3pm_NW      0
WindDir3pm_S       0
WindDir3pm_SE      0
WindDir3pm_SSE     0
WindDir3pm_SSW     0
WindDir3pm_SW      0
WindDir3pm_W       0
WindDir3pm_WNW     0
WindDir3pm_WSW     0
RainToday_No       0
RainToday_Yes      0
dtype: int64